@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&family=Ysabeau+Infant:wght@300;400;500;600;700&display=swap');

.noPostWrapper{
    flex: 9;
    display: flex;
    margin: 150px;
    /* height: 40vh; */
    /* background-color: rgb(40, 220, 184); */
    justify-content: center;
}

.headingNoPost{
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 3em;
  padding-top: 10%;
  padding-bottom: 8%;
  color: rgb(31, 170, 142);;
}

.imageNoPost{
    width: 40%;
    height: 40%;
    padding: 0;
    margin: 0;
}